# mod_rewrite starts here

# RewriteEngine on

# does not apply t oexisting directories, meaning that if the folder exists on the server then don't change anything and don't run teh Rule!

# RewriteCond %{REQUEST_FILENAME} !-d

#  Check for file in directory with .html extension 

# RewriteCond %{REQUEST_FILNAME}\.html -f

# Here we actually sahow the page that has the .html extension

# RewriteRule ^(.*)$ $1.html [NC,L]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

