.texto{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    margin-top: 20%;
    font-size: 25px;
}

.buttontroll {
    background-color: #4cacaf; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: block; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
}

/*.backdiv {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
}
*/
/*
.backvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
*/
/* Centraliza o conteúdo acima do vídeo */
/*.center-content {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

@media (min-aspect-ratio: 16/9) {
    .backvideo {
        width: 89%;
        height: 50%;
    }
    
}
@media (max-aspect-ratio: 16/9) {
    .backvideo {
        width: 150;
        height: 190%;
    }
}